body {
	
	font:font-family: 'Orbitron', sans-serif;
	color:#400101;
}

header {
	height:120px;
	background:#023373;
	color:#;
}

main {
	width:100px;
	background:#65858C;
	float:center;
}

main {
	width:600px;
	background:#F2B705;
	float:left;
}

aside {
	width:341px;
	float:right;
	background:#400101;
}

footer {
	clear:both;
	}
	
section {
	padding:5px;
	width:960px;
	margin: 20px auto;
}
	
	
/*Acabamentos - Frufru*/
main {
	background-color:#
	
}
main {
	background-color:#;
}

aside {
	background-color:#
}

footer {
	background-color:#;
}

header, main, aside {margin-bottom:5px;}
section, header, aside, main, footer{
	border:solid 1px #7FFFD4;
	border-radius:10px;
}


/*Media Queria com regras responsivas*/
/*Mobile First*/
/*Resolução máxima de 480px*/
@media screen and (max-width:480px) {
	header {height:auto; width:100%;}
	aside {display:none; width:100%;}
}

/*Resolução máxima de 768px*/
@media screen and (max-width:768px) {
	main {width:auto; float:100%;}
	aside {width:auto; float:none;}
}

/*Resolução máxima de 1279px*/
@media screen and (max-width:1279px) {
	section {width:100%;}
	main {width:78%;}
	aside {width:90%;}
}